@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraBold.ttf");
  font-weight: 800;
}
:root {
  --color-white-100: #FFFFFF;
  --color-black-400: #64646A;
  --color-black-600: #1B1B1D;
  --color-gray-200: #EEEFF1;
  --color-yellow-400: #FFB700;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  outline: none;
  list-style: none;
  font-size: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

.wrapper {
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.bg-blocks {
  background: linear-gradient(173.34deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFFFFF 100%);
}

.header {
  padding: 10px 25px;
  box-sizing: border-box;
  background: var(--color-gray-200);
}
.header .hamburger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  gap: 5px;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
  transition: 0.6s all;
}
@media screen and (max-width: 920px) {
  .header .hamburger {
    display: inline-flex !important;
  }
}
.header .hamburger {
  margin-left: auto;
  display: none;
}
@media screen and (max-width: 900px) {
  .header .hamburger {
    display: block;
  }
  .header .nav-collapse {
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0 40px;
    box-sizing: border-box;
    transition: 0.6s all;
    z-index: 9999;
    background: #fff;
  }
  .header .nav-collapse.is-active {
    max-height: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header .nav {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .header .btns {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
}
.header .header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header .header-items .nav-collapse {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header-items .nav-collapse .nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header-items .nav-collapse .nav .nav__link {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: var(--color-black-600);
  transition: 0.6s all;
  position: relative;
}
.header .header-items .nav-collapse .nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--color-black-600);
  margin: 0 auto;
  transition: 0.6s all;
}
.header .header-items .nav-collapse .nav__link:hover::before {
  width: 100%;
}
.header .header-items .nav-collapse .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header-items .nav-collapse .btns a {
  background: #FFFFFF;
  box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  padding: 20px;
  border-radius: 35px;
}
.header .header-items .nav-collapse .btns button {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-white-100);
  background: var(--color-black-600);
  box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  border-radius: 63px;
  padding: 15px 30px;
  transition: all 0.6s;
}
.header .header-items .nav-collapse .btns button:hover {
  background: var(--color-black-400);
  transform: scale(0.9);
}
@media screen and (max-width: 900px) {
  .header .header-items .nav-collapse .nav-collapse {
    gap: 25px;
  }
}

.banner {
  background: var(--color-gray-200);
}
.banner .banner-items {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (max-width: 1335px) {
  .banner .banner-items {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
}
.banner .banner-items img {
  max-width: -webkit-fill-available;
}
.banner .banner-items .banner-cafe {
  position: absolute;
  bottom: 430px;
  left: 427px;
}
.banner .banner-items .banner_content h2 {
  font-weight: 800;
  font-size: 7.75rem;
  line-height: 8.75rem;
  color: var(--color-black-600);
  max-width: 600px;
}
.banner .banner-items .banner_content p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  color: var(--color-black-400);
  max-width: 33.125rem;
  margin-top: 1.875rem;
}
@media screen and (max-width: 425px) {
  .banner .banner-items .banner_content h2 {
    font-size: 4.75rem;
  }
  .banner .banner-items .banner_content .buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 1335px) {
  .banner .banner-items .banner_content p {
    margin: 0 auto;
    margin-top: 1.875rem;
  }
  .banner .banner-items .banner_content .buttons {
    justify-content: center;
  }
}
.banner .banner-items .banner_content .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 82px;
}
.banner .banner-items .banner_content .buttons button {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: var(--color-white-100);
  background: var(--color-black-600);
  border-radius: 7.875rem;
  padding: 1.25rem 2.5rem;
  transition: all 0.6s;
}
.banner .banner-items .banner_content .buttons button:hover {
  background: var(--color-black-400);
  transform: scale(0.9);
}
.banner .banner-items .banner_content .buttons a {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  color: var(--color-black-600);
  text-decoration: underline;
}

.about_us {
  position: relative;
  padding-bottom: 260px;
}
.about_us .cup-coffee {
  position: absolute;
  top: 75px;
  left: -546px;
}
.about_us .about_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}
.about_us .about_title h2 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.375rem;
  text-align: center;
  color: var(--color-black-600);
}
.about_us .about_title p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  text-align: center;
  color: var(--color-black-400);
  margin-top: 1.5625rem;
  max-width: 604px;
}
@media screen and (max-width: 806px) {
  .about_us .about_title h2 {
    font-size: 3rem;
  }
}
.about_us .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 30px;
  margin-top: 90px;
}
@media screen and (max-width: 806px) {
  .about_us .cards {
    display: flex;
    align-items: center;
    gap: 90px;
    flex-direction: column;
  }
}
.about_us .cards .card-first {
  background: linear-gradient(152.09deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
  border-radius: 24px;
  padding: 40px;
  max-width: 393px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_us .cards .card-first .card_title h2 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3.25rem;
  color: var(--color-black-600);
}
.about_us .cards .card-first .card_title p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  color: var(--color-black-400);
  margin-top: 8px;
}
.about_us .cards .card-first img {
  margin: 60px;
}
.about_us .cards .card-first button {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-white-100);
  background: var(--color-black-600);
  box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
  border-radius: 63px;
  padding: 15px 30px;
  transition: all 0.6s;
}
.about_us .cards .card-first button:hover {
  background: var(--color-black-400);
  transform: scale(0.9);
}

.order {
  display: flex;
  align-items: center;
  max-width: fit-content;
  padding-bottom: 228px;
  overflow: hidden;
}
@media screen and (max-width: 1335px) {
  .order {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
}
.order img {
  max-width: -webkit-fill-available;
}
.order .order-content h2 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.375rem;
  color: var(--color-black-600);
  max-width: 512px;
}
.order .order-content p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  color: var(--color-black-400);
  margin-top: 30px;
  max-width: 512px;
}
.order .order-content button {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: var(--color-white-100);
  background: var(--color-black-600);
  border-radius: 7.875rem;
  padding: 1.25rem 2.5rem;
  transition: all 0.6s;
  margin-top: 60px;
}
.order .order-content button:hover {
  background: var(--color-black-400);
  transform: scale(0.9);
}
@media screen and (max-width: 425px) {
  .order .order-content h2 {
    font-size: 3rem;
  }
}

.price {
  position: relative;
  padding-bottom: 200px;
}
.price .bg-coffee {
  position: absolute;
  top: -216px;
  right: -310px;
}
@media screen and (max-width: 1875px) {
  .price .bg-coffee {
    display: none;
  }
}
.price .price_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.price .price_title h2 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.375rem;
  color: var(--color-black-600);
}
.price .price_title p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  margin-top: 1.5625rem;
  color: var(--color-black-400);
  max-width: 604px;
}
@media screen and (max-width: 425px) {
  .price .price_title h2 {
    font-size: 3rem;
  }
}
.price .price_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 30px;
  margin-top: 178px;
}
@media screen and (max-width: 806px) {
  .price .price_cards {
    display: flex;
    align-items: center;
    gap: 90px;
    flex-direction: column;
  }
}
.price .price_cards .price-card-first {
  background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
  border-radius: 24px;
  box-sizing: border-box;
  padding: 40px 30px;
  max-width: 395px;
}
.price .price_cards .price-card-first .order-cup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.price .price_cards .price-card-first .order-cup .double {
  position: absolute;
  top: -113px;
  left: -22px;
}
.price .price_cards .price-card-first .order-cup p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--color-black-400);
  margin: 0 auto;
}
.price .price_cards .price-card-first .order-cup h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: var(--color-black-600);
  margin-top: 8px;
  max-width: 160px;
}
.price .price_cards .price-card-first p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-black-400);
  margin-top: 87px;
}
.price .price_cards .price-card-first .order-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.price .price_cards .price-card-first .order-btn span {
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  color: var(--color-black-600);
}
.price .price_cards .price-card-first .order-btn button {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: var(--color-white-100);
  background: var(--color-black-600);
  border-radius: 7.875rem;
  padding: 1.25rem 2.5rem;
  transition: all 0.6s;
}
.price .price_cards .price-card-first .order-btn button:hover {
  background: var(--color-black-400);
  transform: scale(0.9);
}

/*# sourceMappingURL=style.css.map */
